<ion-header>
  <ion-toolbar color = "primary">
      <ion-buttons slot="start">
          <ion-menu-button menu = "first"></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Sensor Control
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color = "primary">
    <ion-card >
        <ion-card-header>
          <ion-card-title style="font-weight: 900; color: #fff;" class = "ion-text-center">Sensor Control</ion-card-title>
        </ion-card-header><br> 
        <ion-card-content><h1 class="temperature ion-text-center" style="font-weight: 900; color: #fff;">All Sensors are Connected to Azure IoT Hub and mounted on Raspberry Pi.</h1>
        </ion-card-content>
      </ion-card>
</ion-content>
